{{define "night-witch-section"}}
<h3>{{T .Lang "witch_title"}}</h3>
{{if .WitchDoneThisNight}}
{{if .WitchHealedThisNight}}{{if .WitchHealedPlayer}}<p><em>{{T .Lang "witch_saved" .WitchHealedPlayer.Name}}</em></p>{{end}}{{end}}
{{if .WitchPoisonedThisNight}}{{if .WitchPoisonedPlayer}}<p><em>{{T .Lang "witch_poisoned" .WitchPoisonedPlayer.Name}}</em></p>{{end}}{{end}}
<p><em>{{T .Lang "witch_waiting"}}</em></p>
{{else}}

<div id="witch-heal-section">
{{if not .HealPotionUsed}}
<h4>{{T .Lang "heal_potion"}}</h4>
{{if .WerewolfVictimPlayer}}
<p>{{T .Lang "witch_targeting"}}</p>
<div class="card-list" id="witch-heal-targets">
{{range .WitchHealCards}}
<form ws-send id="witch-select-heal-form-{{.PlayerUID}}" class="vote-form" onclick="this.requestSubmit()">
    <input type="hidden" name="action" value="witch_select_heal">
    <input type="hidden" name="target_player_id" value="{{.PlayerUID}}">
    {{template "player-card" .}}
</form>
{{end}}
</div>
{{else}}
<p><em>{{T .Lang "witch_no_target"}}</em></p>
{{end}}
{{else}}
<p><em>{{T .Lang "heal_potion_used"}}</em></p>
{{end}}
</div>

<div id="witch-poison-section">
{{if not .PoisonPotionUsed}}
<h4>{{T .Lang "poison_potion"}}</h4>
<p>{{T .Lang "witch_poison_choose"}}</p>
<div class="card-list" id="witch-poison-targets">
{{range .WitchPoisonCards}}
<form ws-send id="witch-select-poison-form-{{.PlayerUID}}" class="vote-form" onclick="this.requestSubmit()">
    <input type="hidden" name="action" value="witch_select_poison">
    <input type="hidden" name="target_player_id" value="{{.PlayerUID}}">
    {{template "player-card" .}}
</form>
{{end}}
</div>
{{else}}
<p><em>{{T .Lang "poison_potion_used"}}</em></p>
{{end}}
</div>

<form ws-send id="witch-apply-form" class="vote-form">
    <input type="hidden" name="action" value="witch_apply">
    <button type="submit" id="witch-apply-button" class="witch-apply-button">{{T .Lang "btn_witch_done"}}</button>
</form>
{{end}}
{{end}}
