{{define "night-cupid-section"}}
<h3>{{T .Lang "cupid_title"}}</h3>
{{if .CupidLinked}}
{{if and .CupidChosen1Player .CupidChosen2Player}}
<p id="cupid-result"><em>{{T .Lang "cupid_linked" .CupidChosen1Player.Name .CupidChosen2Player.Name}}</em></p>
{{end}}
<card-list>
    {{if .CupidChosen1Player}}
    <player-card
        data-player-id="{{.CupidChosen1Player.ID}}"
        player-id="{{.CupidChosen1Player.PlayerID}}"
        player-name="{{.CupidChosen1Player.Name}}"
        role-name="{{.CupidChosen1Player.RoleName}}"
        role-desc="{{.CupidChosen1Player.RoleDescription}}"
        team="{{.CupidChosen1Player.Team}}"
        alive="true"
        profile-image="{{if .CupidChosen1Player.ProfileImageID}}/player-image/{{.CupidChosen1Player.ProfileImageID}}{{end}}"
        selectable
        {{if and (ne .CupidChosen1Player.Lover 0) (eq .Player.PlayerID .CupidChosen1Player.Lover)}}lover{{end}}
    ></player-card>
    {{end}}
    {{if .CupidChosen2Player}}
    <player-card
        data-player-id="{{.CupidChosen2Player.ID}}"
        player-id="{{.CupidChosen2Player.PlayerID}}"
        player-name="{{.CupidChosen2Player.Name}}"
        role-name="{{.CupidChosen2Player.RoleName}}"
        role-desc="{{.CupidChosen2Player.RoleDescription}}"
        team="{{.CupidChosen2Player.Team}}"
        alive="true"
        profile-image="{{if .CupidChosen2Player.ProfileImageID}}/player-image/{{.CupidChosen2Player.ProfileImageID}}{{end}}"
        selectable
        {{if and (ne .CupidChosen2Player.Lover 0) (eq .Player.PlayerID .CupidChosen2Player.Lover)}}lover{{end}}
    ></player-card>
    {{end}}
</card-list>
{{else}}
{{if and .CupidChosen1Player .CupidChosen2Player}}
<p>{{T .Lang "cupid_chosen_two" .CupidChosen1Player.Name .CupidChosen2Player.Name}}</p>
{{else if or .CupidChosen1Player .CupidChosen2Player}}
<p>{{T .Lang "cupid_one_chosen"}}</p>
{{else}}
<p>{{T .Lang "cupid_choose_two"}}</p>
{{end}}
<card-list>
{{range .AliveTargets}}
<form ws-send id="cupid-form-{{.PlayerID}}" class="vote-form" onclick="this.requestSubmit()">
    <input type="hidden" name="action" value="cupid_choose">
    <input type="hidden" name="target_player_id" value="{{.PlayerID}}">
    <player-card
        data-player-id="{{.ID}}"
        player-id="{{.PlayerID}}"
        player-name="{{.Name}}"
        role-name="{{.RoleName}}"
        role-desc="{{.RoleDescription}}"
        team="{{.Team}}"
        alive="true"
        profile-image="{{if .ProfileImageID}}/player-image/{{.ProfileImageID}}{{end}}"
        selectable
        {{if or (and $.CupidChosen1Player (eq $.CupidChosen1Player.PlayerID .PlayerID)) (and $.CupidChosen2Player (eq $.CupidChosen2Player.PlayerID .PlayerID))}}selected{{end}}
        {{if and (ne .Lover 0) (eq $.Player.PlayerID .Lover)}}lover{{end}}
    ></player-card>
</form>
{{end}}
</card-list>
<form ws-send id="cupid-link-form" class="vote-form">
    <input type="hidden" name="action" value="cupid_link">
    <button type="submit" id="cupid-link-button" {{if not (and .CupidChosen1Player .CupidChosen2Player)}}disabled{{end}}>{{T .Lang "btn_cupid_link"}}</button>
</form>
{{end}}
{{end}}
