{{define "night-cupid-section"}}
<h3>{{T .Lang "cupid_title"}}</h3>
{{if .CupidLinked}}
{{if and .CupidChosen1Player .CupidChosen2Player}}
<p id="cupid-result"><em>{{T .Lang "cupid_linked" .CupidChosen1Player.Name .CupidChosen2Player.Name}}</em></p>
{{end}}
<div class="card-list">
    {{if .CupidChosen1Card}}{{template "player-card" .CupidChosen1Card}}{{end}}
    {{if .CupidChosen2Card}}{{template "player-card" .CupidChosen2Card}}{{end}}
</div>
{{else}}
{{if and .CupidChosen1Player .CupidChosen2Player}}
<p>{{T .Lang "cupid_chosen_two" .CupidChosen1Player.Name .CupidChosen2Player.Name}}</p>
{{else if or .CupidChosen1Player .CupidChosen2Player}}
<p>{{T .Lang "cupid_one_chosen"}}</p>
{{else}}
<p>{{T .Lang "cupid_choose_two"}}</p>
{{end}}
<div class="card-list">
{{range .CupidTargetCards}}
<form ws-send id="cupid-form-{{.PlayerUID}}" class="vote-form" onclick="this.requestSubmit()">
    <input type="hidden" name="action" value="cupid_choose">
    <input type="hidden" name="target_player_id" value="{{.PlayerUID}}">
    {{template "player-card" .}}
</form>
{{end}}
</div>
<form ws-send id="cupid-link-form" class="vote-form">
    <input type="hidden" name="action" value="cupid_link">
    <button type="submit" id="cupid-link-button" {{if not (and .CupidChosen1Player .CupidChosen2Player)}}disabled{{end}}>{{T .Lang "btn_cupid_link"}}</button>
</form>
{{end}}
{{end}}
