{{define "night-doppelganger-section"}}
<h3>{{T .Lang "doppelganger_title"}}</h3>
{{if .DoppelgangerHasCopied}}
{{if .DoppelgangerCopiedPlayer}}
<p id="doppelganger-result"><em>{{T .Lang "doppelganger_became" .DoppelgangerCopiedPlayer.RoleName .DoppelgangerCopiedPlayer.Name}}</em></p>
{{if .DoppelgangerResultCard}}<div class="card-list">{{template "player-card" .DoppelgangerResultCard}}</div>{{end}}
{{end}}
{{else}}
{{if .DoppelgangerSelectedPlayer}}
<p>{{T .Lang "doppelganger_selected" .DoppelgangerSelectedPlayer.Name}}</p>
{{else}}
<p>{{T .Lang "doppelganger_choose"}}</p>
{{end}}
<div class="card-list">
{{range .DoppelgangerTargetCards}}
<form ws-send id="doppelganger-select-form-{{.PlayerUID}}" class="vote-form" onclick="this.requestSubmit()">
    <input type="hidden" name="action" value="doppelganger_select">
    <input type="hidden" name="target_player_id" value="{{.PlayerUID}}">
    {{template "player-card" .}}
</form>
{{end}}
</div>
<form ws-send id="doppelganger-copy-form" class="vote-form">
    <input type="hidden" name="action" value="doppelganger_copy">
    <button type="submit" id="doppelganger-copy-button" {{if not .DoppelgangerSelectedPlayer}}disabled{{end}}>{{T .Lang "btn_doppelganger_become"}}</button>
</form>
{{end}}
{{end}}
