<aside id="sidebar" class="sidebar"  hx-swap="morph" hx-swap-oob="true">
  <div class="leftbound">
    <div>
      <label class="nav-toggle-button" for="sidebar-nav-toggle" role="button" aria-label="Toggle navigation">
        ☰
      </label>
    </div>
    <div>
      <h1>Werewolf</h1>
    </div>
  </div>
  <section>
    <p><strong>Player: </strong>{{.Player.Name}} <small>(Secret: <code
          id="secret-code-display">{{.Player.SecretCode}}</code>)</small>
    </p>
    <span id="player-id" hidden>{{.Player.ID}}</span>
  </section>
  <hr>
  {{if ne .Game.Status "lobby" }}
  <section>
    <h3>Character</h3>
    <p><strong>Role:</strong> <span id="role">{{.Player.RoleName}}</span></p>
    <p>{{.Player.RoleDescription}}</p>
    <p><strong>Team:</strong> {{.Player.Team}}</p>
    <p><strong>Status:</strong> {{if .Player.IsAlive}}Alive{{else}}Dead{{end}}</p>
  </section>
  <hr>
  {{end}}

  {{ $self := .Player }}
  {{ $loverID := .LoverPartnerID }}
  <section>
    <h3>All Players</h3>
    <ul id="player-list" class="player-list">
      {{range .Players}}
      <li class="{{if not .IsAlive}}dead-player{{end}}">
        <span class="player-db-id" hidden>{{.ID}}</span>
        {{if and (eq .Team "werewolf") (or (eq $self.Team "werewolf") (not .IsAlive))}}🐺 {{end}}{{if and (ne $loverID 0) (eq .PlayerID $loverID)}}<span id="lover-of-{{$loverID}}">💞</span> {{end}}{{.Name}}{{if not .IsAlive}} <span id="is-dead-{{.ID}}">💀</span> ({{.RoleName}}){{end}}
      </li>
      {{end}}
    </ul>
  </section>
</aside>
